body {
    font-family: Open Sans, serif !important;
    padding-top: 51px;
}

@media (min-width: 768px) {
    html, body, body > .container-fluid, .container-fluid > .row, .sidebar {
        height: 100%;
    }
}

footer {
    min-height: 0 !important;
    height: 40px;
    line-height: 40px;
}

.main {
    padding: 20px 40px 50px;
}

.sidebar {
    padding: 20px;
    background-color: #5A5F66;
}

.nav-sidebar {
    margin-right: -20px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.sidebar a {
    color: #fff;
}

.nav-sidebar > li > ul > li > a {
    padding: 5px 30px;
}

.nav-sidebar > li > a {
    display: block;
    padding: 10px 10px;
    margin-top: 5px;
}

.nav > .active > a {
    background-color: #FF4D00  !important;
}

.navbar-header > .h1 {
    line-height: 20px;
    height: 20px;
    padding: 15px;
    margin: 0 20px 0 0;
    color: #fff;
}

.navbar {
    background-color: #454545;
}

@media (max-width: 1175px) {
    .navbar-header > .h1 {
        display: none;
    }
}