body {
    font-family: Open Sans, serif !important;
    padding-top: 51px;
}

footer {
    min-height: 0 !important;
    height: 40px;
    line-height: 40px;
}

.main {
    padding: 20px 40px 50px;
}

.sidebar {
    padding: 20px;
    background-color: #5A5F66;
}

/* Collapse sidebar on small screens */
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
    }
}

.nav-sidebar {
    margin-right: -20px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.sidebar a {
    color: #fff;
}

.sidebar a:hover {
    color: #18BC9C;
}

.nav-sidebar > li > ul > li > a {
    padding: 5px 30px;
}

.nav-sidebar > li > a {
    display: block;
    padding: 10px 10px;
    margin-top: 5px;
}

.nav-sidebar > .active > a, .navbar-nav > .active > a {
    background-color: #FF4D00  !important;
}

.navbar-header > .h1 {
    line-height: 20px;
    height: 20px;
    padding: 15px;
    margin: 0 20px 0 0;
    color: #fff;
}

.navbar {
    background-color: #454545;
}

/* Collapse navbar title on small screens */
@media (max-width: 1175px) {
    .navbar-header > .h1 {
        display: none;
    }
}

tr.clickable-row {
    cursor: pointer;
}