body {
    font-family: Open Sans, serif		!important;
    padding-top: 51px;
}

footer {
    min-height: 0 !important;
    height: 40px;
    line-height: 40px;
}

table th {
    background-color: #5A5F66;
    color: #FF4D00;
}

table td {
    background-color: #BDC4C4;
    color:#333333;
    vertical-align: middle		!important;
}

tr.dlc > td {
    line-height: 65%		!important;
    padding-top: 2px		!important;
    padding-bottom: 2px		!important;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    background-color: #5A5F66;
}

.nav-sidebar {
    margin-right: -20px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > ul > li > a {
    padding: 5px 30px;
}

.nav-sidebar > li > a {
    display: block;
    padding: 10px 10px;
    margin-top: 5px;
}

.nav > .active > a {
    background-color: #FF4D00  !important;
}

.navbar-header > .h1 {
    line-height: 20px;
    height: 20px;
    padding: 15px;
    margin: 0 20px 0 0;
}

.main {
    padding: 20px 40px 50px;
}